*,
html{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: fontku2;
    src: url(sunshineformulaDEMO.otf);
}

@font-face {
    font-family: fontku;
    src: url(SuperMario256.ttf);
}

@font-face {
    font-family: fontku1;
    src: url(Magnificent\ Serif.ttf);
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #EEEEEE;
}

.all{
    width: 1500px;
    margin: auto;
    position: relative;
}

.logo a{
    font-size: 50px;
    font-weight: bold;
    float: left;
    text-decoration: none;
    font-family: fontku;
    color: #000000;
}

.bar{
    float: right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: relative;
    top: 0;
    background: #EEEEEE;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}

nav ul li a{
    color: #000000;
    font-family: fontku2;
    font-weight: normal;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover{
    color:#0E8388;
    text-decoration: underline;
}

.image{
    justify-content: left;
}

.gambar{
    margin: auto;
    width: 500px;
    height: 500px;
}

h1{
    font-family: 'fontku2';
    font-size: 30px;
    font-weight: normal;
}

section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.kolom .deskripsi{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
    font-family: 'fontku2';
    color: #000000;
}

h2{
    font-family: 'fontku1';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #000000;
    width: 100%;
    line-height: 50px;
}
